*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "EB Garamond";
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.Tous-les-produits-Madame-et-Monsieur{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.carte{
    width: 350px;
    height: 610px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.modele{
    height: 250px;
    max-height: 100%;
    max-width: 100%;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.detail p{
    color: black;
    text-align: center;
    margin-top: 20px;
}

.detail h1{
    color: rgb(187, 43, 71);
}

.Escarpins{
    color: rgb(red, green, blue);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 1px;
}

.Logo{
    width: 200px;
}

.Bottines{
    color: rgb(red, green, blue);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 1px;
}

.Bottes{
    color: rgb(red, green, blue);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 1px;
}

.Souliers{
    color: rgb(red, green, blue);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 1px;
}