*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond"

}

.Contact-tel{
 margin:0.5rem;
 width:40%;
 margin-top: 40px;   
 font-size: 25px;
 transform: translate(1000px,300px);
 color:rgb(160, 52, 52);
 cursor: pointer;
 
   
}

.Image-Dress{
position: absolute;
top: 60px;
}


.Information-2{
    color: black;
    font-weight: bold; 
    font-size: 25px;
    right: 85px;
    position: absolute;
    bottom: 200px;
}
